aside{
    float: left;
    width: 16%;
    height: 100vh;
    padding: 1.5%;
    border-radius: 15px;
    border: 10px;
}

aside .logo{
    width: 10vh;
    float: right;
}

aside h3{
    position: relative;
    float: right;
    font-family: "Bookman Old Style";
    margin-left: 40px;
    text-align: right;
}

aside ul{
    margin-top: 100px;
    list-style: none;
    float: right;
}

aside a{
    text-decoration: none;
}

aside a:visited{
    text-decoration: none;
    color: black;
}

aside li{
    display: block;
    margin-top: 10px;
    margin-left: -10px;
    font-size: 30px;
    font-weight: bold;
    font-family: Calibri;
}

aside li:hover{
    color: #888888;
}

header{
    font-size: 3em;
    position: absolute;
    font-family: "Book Antiqua";
    font-weight: bold;
    padding-left: 30px;
    padding-top: 10px;
    height: 7vh;
    width: 1500px;
    margin-left: 20%;
}

header .search_bar{
    height: 50px;
    width: 50vw;
    border: 3px solid darkgrey;
    border-radius: 50px;
    text-align: left;
    padding-left: 30px;
    padding-top: 15px;
    box-shadow: darkgrey 0px 0px 5px;
}
.search_field, .search_field::before, .search_field::after {
    box-sizing: border-box;
    appearance: none;
    outline: none;
    border: none;
}
header .search_field{
    position: relative;
    float: left;
    display: block;
    font-family: Georgia;
    font-size: 28px;
    width: 45vw;
}

header .search_icon{
    position: relative;
    float: left;
    margin-left: 40px;
    margin-top: 3px;
    height: 32px;
}

main{
    position: absolute;
    float: left;
    height: 120vh;
    width: 50vw;
    padding: 30px;
    margin-top: 10vh;
    margin-left: 20%;
}

main .element{
    height: 20vh;
    width: 50vw;
    margin-bottom: 20px;
    border: darkgrey 2px solid;
    box-shadow: #888888 0px 0px 5px;
}

main .book_cover{
    float: left;
    margin: 1%;
    height: 18vh;
}

main ul{
    list-style: none;
}

main .book_link, .book_link:visited{
    text-decoration: none;
    color: black;
}

main .book_info{
    font-family: Cambria;
    float: left;
    height: 18vh;
    margin-left: -1%;
}

main .book_author{
    margin-top: -15px;
}

main .book_price{
    color: darkgreen;
}

main .book_category{
    position: relative;
    float: right;
    margin-right: 20px;
    font-family: Cambria;
}

main .num_of_pages{
    position: absolute;
    margin-top: 5vh;
}

main .page_number{
    padding: 20px;
    text-decoration: none;
    font-size: 35px;
    font-weight: bold;
    font-family: Georgia;
    color: black;
    border: darkgrey 2px solid;
    border-radius: 30px;
    text-align: center;
}

main .page_number:visited{
    text-decoration: none;
    color: black;
}