{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        {% block title %}
            {{title}}/
        {% endblock %}
    </title>
    <link rel="stylesheet" type="text/css" href="{% static 'market/css/main.css' %}">
</head>
<body>
    <aside>
        <img class="logo" src="{% static 'market/images/logo.png' %}" alt="" draggable="false">
        <h3>Online book market</h3>
        <ul>
            <a href="{% url 'home' %}"><li>Home page</li></a>
        </ul>
    </aside>
    <header>
        <div class="search_bar">
            <input type="text" class="search_field" placeholder="Search" required minlength="2" maxlength="64"/>
            <a href="">
                <img class="search_icon" src="{% static 'market/images/search_icon.png' %}" alt="" draggable="false"></img>
            </a>
        </div>
    </header>
    <main>
        {% block content %}
            <div class="content">
                {% for book in book_store %}
                    <a class="book_link" href="{% url 'book-info' book.id %}">
                        <div class="element">
                            <img class="book_cover" src="{{book.image.url}}" alt="Book Image">
                            <ul class="book_info">
                                <li class="book_title"><h1>{{book.name}}</h1></li>
                                <li class="book_author"><h3>{{book.author_name}}</h3></li>
                                <li class="book_price"><h1>{{book.price}}$</h1></li>
                            </ul>
                            <ul class="book_category">
                                <h3 class="category">Category:  </h3>
                                {% for category in book.categories.all %}
                                    <li class="">{{ category.name }}</li>
                                {% endfor %}
                            </ul>
                        </div>
                    </a>
                {% endfor %}
            </div>
            <div class="num_of_pages">
                {% for p in paginator.page_range %}
                    {% if page_obj.has_other_pages %}
                        <a class="page_number" href="?page={{p}}">{{p}}</a>
                    {% endif %}
                {% endfor %}
            </div>
        {% endblock %}
    </main>
</body>
</html>